<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>交易管理平台</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" th:href="@{/css/font.css}">
	<link rel="stylesheet" th:href="@{/css/weadmin.css}">
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
	<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<style type="text/css">
		.layui-form-switch {
			width: 55px;
		}
		.layui-form-switch em {
			width: 40px;
		}
		body{overflow-y: scroll;}
	</style>
</head>

<body>
<div class="weadmin-nav">
	<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">数据管理</a>
		<a href="">实时数据</a>
        <a><cite>实时成交</cite></a>
      </span>
	<a class="layui-btn layui-btn-sm" style="margin-top:3px;float:right" href="javascript:location.replace(location.href);"
	   title="刷新">
		<i class="layui-icon layui-icon-refresh"></i>
	</a>
</div>
<div class="weadmin-body">
	<div class="layui-row">
		<form class="layui-form layui-col-md12 we-search">
			<div class="layui-inline">
				<input class="layui-input" placeholder="股票代码" name="stockCode" id="stockCode">
			</div>
			<div class="layui-inline">
				<input class="layui-input" placeholder="股票名称" name="stockName" id="stockName">
			</div>
			<div class="layui-inline">
				<input class="layui-input" placeholder="交易日期" name="dealDate" id="dealDate">
			</div>
			<button class="layui-btn" type="reset">重置</button>
			<button class="layui-btn" lay-submit="" lay-filter="sreach">查询</button>
		</form>
	</div>
	<div class="weadmin-block demoTable">
        <button class="layui-btn" onclick="WeAdminShow('添加用户','./add.html',600,400)"><i class="layui-icon">&#xe61f;</i>批量导入</button>
		<button class="layui-btn" data-type="Recommend"><i class="layui-icon">&#xe6c6;</i>批量筛选</button>
		<span class="fr" id="spanCount" style="line-height:40px"></span>
	</div>
	<table class="layui-hide" id="realClinchList" lay-filter="realClinchTable"></table>

	<script type="text/html" id="operateTpl">
		<a title="详细信息" lay-event="detailList" href="javascript:;">
			<i class="layui-icon">&#xe63c;</i>
		</a>
	</script>
	<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
	<script th:src="@{/js/admin.js}" type="text/javascript" charset="utf-8"></script>
	<script th:src="@{/js/data/clinch.js}" type="text/javascript" charset="utf-8"></script>
</div>
</body>
</html>