<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>交易管理平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/weadmin.css}">
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>
<div class="weadmin-body">
    <input type="hidden" name="stock_code" id="stock_code" value=""/>
    <input type="hidden" name="deal_date" id="deal_date" value=""/>
    <table class="layui-hide" id="realClinchDetailList"></table>
</div>
<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/admin.js}" charset="utf-8"></script>
<script th:src="@{/js/data/clinchDetail.js}" charset="utf-8"></script>
</body>

</html>