<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.mapper.RealMarketMapper">

    <select id="getMarketCount" parameterType="com.lt.entity.RealMarket" resultType="int">
        select
          count(1)
        from lt_realmarket rm
        <where>
            <if test="stockCode!=null and stockCode!=''">
                rm.stock_code = #{stockCode}
            </if>
            <if test="stockName!=null and stockName!=''">
                rm.stock_name = #{stockName}
            </if>
            <if test="dealTime!=null and dealTime!=''">
                rm.deal_time = #{dealTime}
            </if>
            <if test="avgPrice!=null and avgPrice!=''">
                rm.avg_price = #{avgPrice}
            </if>
            <if test="rose!=null and rose!=''">
                rm.rose = #{rose}
            </if>
            <if test="exchange!=null and exchange!=''">
                rm.exchange = #{exchange}
            </if>
            <if test="volamount!=null and volamount!=''">
                rm.volamount = #{volamount}
            </if>
        </where>
    </select>

    <select id="getMarketList" parameterType="com.lt.entity.RealMarket" resultType="com.lt.entity.RealMarket">
		select
            rm.id,
            rm.stock_code,
            rm.stock_name,
            rm.rose,
            rm.exchange,
            rm.volamount,
            rm.duration,
            rm.deal_time,
            rm.deal_num_sum,
            rm.deal_rmb_sum
        from lt_realmarket rm
		<where>
            <if test="realMarket.stockCode!=null and realMarket.stockCode!=''">
                rm.stock_code = #{realMarket.stockCode}
            </if>
            <if test="realMarket.stockName!=null and realMarket.stockName!=''">
                rm.stock_name = #{realMarket.stockName}
            </if>
            <if test="realMarket.dealTime!=null and realMarket.dealTime!=''">
                rm.deal_time = #{realMarket.dealTime}
            </if>
            <if test="realMarket.avgPrice!=null and realMarket.avgPrice!=''">
                rm.avg_price = #{realMarket.avgPrice}
            </if>
            <if test="realMarket.rose!=null and realMarket.rose!=''">
                rm.rose = #{realMarket.rose}
            </if>
            <if test="realMarket.exchange!=null and realMarket.exchange!=''">
                rm.exchange = #{realMarket.exchange}
            </if>
            <if test="realMarket.volamount!=null and realMarket.volamount!=''">
                rm.volamount = #{realMarket.volamount}
            </if>
        </where>
        <if test ="pageParams.offset !=null and pageParams.limit != null">
            limit #{pageParams.offset},#{pageParams.limit}
        </if>
	</select>

    <select id="queryBriefMarketCount" parameterType="com.lt.entity.RealMarket" resultType="int">
        select
          count(1)
        from lt_realmarket rm
        <where>
            <if test="1==1">
                rm.id in (select MAX(id) id  FROM lt_realmarket GROUP BY stock_code)
            </if>
            <if test="stockCode!=null and stockCode!=''">
                rm.stock_code = #{stockCode}
            </if>
            <if test="stockName!=null and stockName!=''">
                rm.stock_name = #{stockName}
            </if>
            <if test="dealDate!=null and dealDate!=''">
                rm.deal_date = #{dealDate}
            </if>
            <if test="avgPrice!=null and avgPrice!=''">
                rm.avg_price = #{avgPrice}
            </if>
            <if test="rose!=null and rose!=''">
                rm.rose = #{rose}
            </if>
            <if test="exchange!=null and exchange!=''">
                rm.exchange = #{exchange}
            </if>
            <if test="volamount!=null and volamount!=''">
                rm.volamount = #{volamount}
            </if>
        </where>
    </select>

    <select id="queryBriefMarketList" parameterType="com.lt.entity.RealMarket" resultType="com.lt.entity.RealMarket">
        select
        rm.id,
        rm.stock_code,
        rm.stock_name,
        rm.rose,
        rm.exchange,
        rm.volamount,
        rm.duration,
        rm.deal_date,
        rm.deal_time,
        rm.deal_num_sum,
        rm.deal_rmb_sum
        from lt_realmarket rm
        <where>
            <if test="1==1">
                rm.id in (select MAX(id) id  FROM lt_realmarket GROUP BY stock_code)
            </if>
            <if test="realMarket.stockCode!=null and realMarket.stockCode!=''">
                rm.stock_code = #{realMarket.stockCode}
            </if>
            <if test="realMarket.stockName!=null and realMarket.stockName!=''">
                rm.stock_name = #{realMarket.stockName}
            </if>
            <if test="realMarket.dealDate!=null and realMarket.dealDate!=''">
                rm.deal_date = #{realMarket.dealDate}
            </if>
            <if test="realMarket.avgPrice!=null and realMarket.avgPrice!=''">
                rm.avg_price = #{realMarket.avgPrice}
            </if>
            <if test="realMarket.rose!=null and realMarket.rose!=''">
                rm.rose = #{realMarket.rose}
            </if>
            <if test="realMarket.exchange!=null and realMarket.exchange!=''">
                rm.exchange = #{realMarket.exchange}
            </if>
            <if test="realMarket.volamount!=null and realMarket.volamount!=''">
                rm.volamount = #{realMarket.volamount}
            </if>
        </where>
        <if test ="pageParams.offset !=null and pageParams.limit != null">
            limit #{pageParams.offset},#{pageParams.limit}
        </if>
    </select>
</mapper>